@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 262.1 83.3% 57.8%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 262.1 83.3% 57.8%;        
    }
    .dark {
        --background: 225 9% 9%;
        --foreground: 210 40% 98%;

        --card: 228 9% 11%;
        --card-foreground: 210 40% 98%;

        --popover: 228 9% 11%;
        --popover-foreground: 210 40% 98%;

        --primary: 252 100% 69%;
        --primary-foreground: 0 0% 100%;

        --secondary: 228 6% 16%;
        --secondary-foreground: 210 40% 98%;

        --muted: 228 6% 16%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 228 6% 16%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 210 40% 98%;

        --border: 228 6% 16%;
        --input: 228 6% 16%;
        --ring: 212.7 26.8% 83.9%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground antialiased h-screen flex flex-col;
    }
}
